* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(http://orar.usarb.md/img/new_background_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.5;
}

.container {
    margin-top: 25px;
}

div {
    display: block;
}

.orar {
    position: relative;
    margin-bottom: 20px;
    padding: 15px 29px 15px 15px;
    background: #f8f8f8;
    color: #666;
    
}

.schedule {
    font-weight: 800;
    text-align: center;
}

section.left {
    float: left;
}

.grupe {
    display: flex;
    justify-content: space-between;
}

.active {
    background-color: white;
    color: black;
    
}

button {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    background-color: #25975A;
    color: white;
}

button {
    margin: 0;
    border: none;
    font: inherit;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: .875rem;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
#days {
    font-size: 16px;
    padding-right: 20px;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.selec{
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 20px
}
.selec, .lessons {
    max-width: 100%;
    width: 100%;
    border: 0 none;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
}

table, td, th {
    border: 1px solid gray;
}
table {
    font-size: 16px;
    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}

th.table text{
    color: white;
}

.table text {
    border: 1px solid white;
    background-color: #25975A;
    color: white;
    padding: 0;
    text-align: center;
}

.green {
    border: 1px solid white;
    background-color: #25975A;
    color: white;
}


.right {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.univer {
    color: white;
    font-weight: 900;
}
