.image_container {
  background-image: url('Images/London.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  position: relative;
  vertical-align: middle;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.image_container {
  filter: brightness(50%)
}

div {
    display: block;
}

.title_container{
  letter-spacing: 0.5px;
}

.second {
  height: 1000px;
}
