* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
  url(Images/London.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: ' ';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}

.first-text {
  text-align: center;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.first-text ul li {
  font-family: 'Playfair Display', serif;
  color: #914040;
}

/*Свойства для перелистывания картинок*/

.section-g {
  height: 600px;
  position: relative;
}

/*.content-g {
  width: 1280px/1200px * 100%;
  max-width: 1200px;
  margin: 0 auto;
}*/

.slider {
  width: 1000px;
  height: 500px;
  overflow: hidden;
  border: 10px solid #000;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: #ddd;
  opacity: .7;
  border-radius: 10px;
  transition: all .4s ease;
}
.bar:hover {
  opacity: 1;
  transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  transition: all .6s ease;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}
