.works-container{
    margin-top: 2.5rem;
    width: 1152px;
    height: 372px;
}
#works .works-container .content{
    display: grid;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
    width: 1152px;
    height: 278;
}
#works .works-container .content .group{
    margin-top: 3.5rem;
    padding: 0%;
    width: 273px;
    height: 228px;
}
#works .works-container .content .group .img{
    width: 275px;
    height: 200px;
    margin: 0;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0%;
}
#works .works-container .content .group .img img{
    width: 200px;
    height: 200px;
}
#works .works-container .content p{
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    width: 273px;
    height: 28px;
}
#works .works-container .content .group .img p{
    position: absolute;
    font-size: 10rem;
    font-weight: bolder;
    left: -10px;
    bottom: -20px;
    color: #f9bdbd;
    opacity: 0.25;
    width: 42px;
    height: 184px;
}

.wraper{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
.btn{
    background: #daa520;
    border: 1px solid #daa520;
    padding: 1rem 2rem !important;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}