*{
    margin:0;
    padding:0;
}
html{
    background-image: url(Images/Начало.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    /*-webkit-background-size:cover;*/
    /*-moz-background-size: cover;*/
    background-size: cover;

}
.container {
    position: relative;
    text-align: center;
    color:black; 
}
.centered{
    text-align: center;
    margin-top: 30%;
    position: absolute;
    font-size: 2rem;
    letter-spacing: .5px;
    padding: 24px 0 38px 0;
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 38px;
    padding-left: 0px;
    font-family: 'Alkalami';
}
.centered:hover{
    color: red;

}
.t-text {
    font-family: 'Alkalami';
    font-weight: 300;
    color: #000000;
}